{assign var="paging_titles" value="User Area, Edit Account"}
{assign var="paging_urls" value="/?cl=home&op=user_area"}
{include file="paging.html"}

<h1>Edit Account</h1>
<p class="error">{$error_msg}</p>

<form action="" method="POST">
{$form_redir}

<table class="list" width="95%">
	<thead>
	<tr>
		<td colspan="2">Login information</td>
	</tr>
	</thead>
	
	<tr>
		<td class="highlight" width="140">Login name: </td>
		<td class="post_highlight"><input type="text" name="user[login]" value="{$user->login}" size="30" /></td>
	</tr>
	<tr>
		<td class="highlight">Password: </td>
		<td class="post_highlight"><input type="password" name="user[password]" value="{$user->password}" size="30" /></td>
	</tr>
	<tr>
		<td class="highlight">Confirm password: </td>
		<td class="post_highlight"><input type="password" name="user[password_confirm]" value="{$user->password_confirm}" size="30" /></td>
	</tr>
	
	
	<tr class="head">
		<td colspan="2">Personal information</td>
	</tr>
	
	<tr>
		<td class="highlight">First name: </td>
		<td class="post_highlight"><input type="text" name="user[fname]" value="{$user->fname}" size="30" /></td>
	</tr>
	<tr>
		<td class="highlight">Last name: </td>
		<td class="post_highlight"><input type="text" name="user[lname]" value="{$user->lname}" size="30" /></td>
	</tr>
	<tr>
		<td class="highlight">E-mail: </td>
		<td class="post_highlight"><input type="text" name="user[email]" value="{$user->email}" size="30" /></td>
	</tr>
	<tr>
		<td class="highlight">Preferred language: </td>
		<td class="post_highlight">
			<select name="user[language]">
				{html_options options=$LANGUAGES selected=$user->language}
			</select>
		</td>
	</tr>
	<tr>
		<td class="highlight">Receive newsletter: </td>
		<td class="post_highlight">
			<select name="user[newsletter]">
				<option value="0">No</option>
				<option value="1" {if $user->newsletter} selected {/if}>Yes</option>
			</select>
		</td>
	</tr>
	
</table>
<p/>

<input type="submit" name="save" value="Save" class="button" />
<input type="submit" name="cancel" value="Cancel" class="button" />

</form>
