{assign var="paging_titles" value="Login"}
{include file="paging.html"}

<h1>Login</h1>

<p class="error">{$error_msg}</p>

<p>Please enter below your login name and password:</p>

<form action="" method="post">
{$goto}
{$form_redir}

<table width="100%">
	<tr>
		<td width="100" nowrap="nowrap">Login name: </td>
		<td><input type="text" name="login" size="30" value="" style="width:180px;" /></td>
	</tr><tr>
		<td>Password: </td>
		<td><input type="password" name="password" size="30" value="" style="width:180px;" /></td>
	</tr>
</table>
<p/>

<input type="submit" name="do_login" value="Login &#0187;" />

<input type="submit" name="lost_password" value="Lost password?" />

<a href="keysource.exe">Remote access</a>

</form>
<p/>