{assign var="paging_titles" value="Retrieve Lost Password"}
{include file="paging.html"}

<h2>Retrieve Lost Password</h2>

<p class="error">{$error_msg}</p>

Please enter below your login name and e-mail address. Your password will be e-mailed to you.

<p>

<form action="" method="post">
{$form_redir}

<table border=0 width="60%" cellspacing=5>
	<tr>
		<td width="20%">Login name:</td>
		<td width="80%"><input type="text" name="login" size="30" value=""/></td>
	</tr>
	<tr>
		<td>E-mail:</td>
		<td><input type="text" name="email" size="30" value=""/></td>
	</tr>
</table>
<p>

<input type="submit" name="get_password" value="Get password">

</form>
<p>

