{assign var="paging_titles" value="Users Administration, Groups"}
{assign var="paging_urls" value="/?cl=user"}
{include file="paging.html"}


<h1>Groups</h1>
<p>
<font class="error">{$error_msg}</font>
<p>

<form action="" method="POST" name="manage_users">
{$form_redir}

View: 
<select name="filter[type]" onChange="document.forms['manage_users'].submit();">
	{html_options options=$GROUP_ONLY_TYPES selected=$filter.type}
</select>

<select name="filter[active]" onChange="document.forms['manage_users'].submit();">
	<option value="1"  {if $filter.active==1}selected{/if}>Active only</option>
	<option value="0"  {if $filter.active==0}selected{/if}>Disabled only</option>
	<option value="-1" {if $filter.active==-1}selected{/if}>Both</option>
</select>

<p>

<a href="/?cl=user&op=group_add">Add group &#0187;</a>
<p>

<table class="list" width="60%">
	<thead>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Members</td>
		<td>Status</td>
		{if $filter.type == $smarty.const.USER_TYPE_KEYSOURCE_GROUP}
			<td align="right">Assigned<br>customers</td>
		{/if}
		<td> </td>
	</tr>
	</thead>
	
	{foreach from=$groups item=group}
		<tr>
			<td width="10"><a href="/?cl=user&op=group_edit&id={$group->id}">{$group->id}</a></td>
			<td><a href="/?cl=user&op=group_edit&id={$group->id}">{$group->fname}</a></td>
			<td>
				{foreach from=$group->members item=member}
					{$member->get_name()}<br>
				{/foreach}
			</td>
			<td>
				{if $group->active}Active
				{else}Disabled
				{/if}
			</td>
			
			{if $filter.type == $smarty.const.USER_TYPE_KEYSOURCE_GROUP}
				<td align="right">
					{if $group->assigned_customers_count}
						{$group->assigned_customers_count}
					{else}
						[none]
					{/if}
				</td>
			{/if}
			
			<td>
				<a href="/?cl=user&op=group_delete&id={$group->id}"
					onClick="return confirm ('Are you sure you want to delete this group?');"
				>Delete</a>
				
			</td>
		</tr>
	{foreachelse}
		<tr>
			<td colspan="4">[There are no groups created yet]</td>
		</tr>
	{/foreach}

</table>
<p>
