{assign var="paging_titles" value="KAWACS, Remove AD Printer"}
{assign var="paging_urls" value="/?cl=kawacs_removed"}
{include file="paging.html"}

<script language="JavaScript" src="/javascript/CalendarPopup.js" type="text/javascript"></script>

<h1>Remove AD Printer : {$ad_printer->name} ({$ad_printer->asset_no})</h1>

<p class="error">{$error_msg}</p>

<p>On this page you can mark an AD Printer as being removed. This means that the
AD Printer is no longer in user, but data about it will be kept in the Keyos 
archive.</p>

<form action="" method="POST" name="frm_t">
{$form_redir}

<table width="60%" class="list">
	<thead>
	<tr>
		<td width="120">Customer:</td>
		<td class="post_highlight">{$customer->name|escape} ({$customer->id})</td>
	</tr>
	</thead>
	
	<tr>
		<td class="highlight">Canonical name:</td>
		<td class="post_highlight">{$ad_printer->canonical_name|escape}</td>
	</tr>
	<tr>
		<td class="highlight">Removal date:</td>
		<td class="post_highlight">
			<input type="text" size="12" name="removal[date_removed]"
				{if $removal->date_removed}value="{$removal->date_removed|date_format:$smarty.const.DATE_FORMAT_SELECTOR}"{/if}
			/>
			{literal}
			<a href="#" onclick="showCalendarSelector('frm_t', 'removal[date_removed]'); return false;" name="anchor_calendar" id="anchor_calendar"
				><img src="./images/icon_cal.gif" alt="calendar" border=0 style="vertical-align: middle"></a>
			{/literal}
		</td>
	</tr>
	<tr>
		<td class="highlight">Removal reason:</td>
		<td class="post_highlight">
			<textarea name="removal[reason_removed]" rows="5" cols="50">{$removal->reason_removed|escape}</textarea>
		</td>
	</tr>
</table>
<p/>

<input type="submit" name="save" value="Remove AD Printer" class="button"
onclick="return confirm('Are you sure you want to mark this AD Printer as removed?');"
/>
<input type="submit" name="cancel" value="Cancel" class="button" />
</form>