{assign var="paging_titles" value="KAWACS, Manage Removed Computers, View Removed Computer, Edit Computer Note"}
{assign var="computer_id" value=$computer->id}
{assign var="paging_urls" value="/?cl=kawacs_removed, /?cl=kawacs_removed&op=manage_computers, /?cl=kawacs_removed&op=computer_view&id=$computer_id"}
{include file="paging.html"}

<h1>Edit Note for Removed Computer</h1>

<p class="error">{$error_msg}</p>

<form action="" method="POST">
{$form_redir}

<table class="list" width="70%">
	<thead>
	<tr>
		<td width="15%">Computer:</td>
		<td class="post_highlight">#{$computer->id}: {$computer->netbios_name|escape}</td>
	</tr>
	</thead>
	
	<tr>
		<td class="highlight">Created by:</td>
		<td class="post_highlight">{$user->get_name()|escape}</td>
	</tr>
	<tr>
		<td class="highlight">Created:</td>
		<td class="post_highlight">{$note->created|date_format:$smarty.const.DATE_TIME_FORMAT_SMARTY}</td>
	</tr>
	<tr>
		<td class="highlight">Note:</td>
		<td class="post_highlight">
			<textarea name="note[note]" cols="80" rows="12">{$note->note|escape}</textarea>
		</td>
	</tr>
</table>
<p/>

<input type="submit" name="save" value="Save" class="button" />
<input type="submit" name="cancel" value="Close" class="button" />
</form>
