{assign var="paging_titles" value="KAWACS, Manage Removed Peripherals, View Removed Peripheral"}
{assign var="paging_urls" value="/?cl=kawacs_removed, /?cl=kawacs_removed&op=manage_peripherals"}
{include file="paging.html"}

<h1>Removed Peripheral : {$peripheral->name|escape} ({$peripheral->asset_no})</h1>

<p class="error">{$error_msg}</p>
<a href="/?cl=kawacs_removed&amp;op=manage_peripherals">&#0171; Back to removed peripherals</a>
<p/>
<table width="98%">
<tr><td width="50%">
<table width="95%" class="list">
	<thead>
	<tr>
		<td width="120">Customer:</td>
		<td class="post_highlight">{$customer->name|escape} ({$customer->id})</td>
	</tr>
	</thead>
	
	<tr>
		<td class="highlight">Name:</td>
		<td class="post_highlight">{$peripheral->name|escape}</td>
	</tr>
	<tr>
		<td class="highlight">Asset No.:</td>
		<td class="post_highlight">{$peripheral->asset_no}</td>
	</tr>
	<tr>
		<td class="highlight">Peripheral class:</td>
		<td class="post_highlight">{$peripheral_class->name|escape}</td>
	</tr>
	
	{if $peripheral->get_access_url()}
		{assign var="access_url" value=$peripheral->get_access_url()}
		<tr>
			<td class="highlight">Remote Web connect:</td>
			<td class="post_highlight">
				<a href="{$peripheral->get_access_url()}" target="_blank">Connect&nbsp;&#0187;</a>
			</td>
		</tr>
	{/if}
	
	
	{if $peripheral->get_net_access_ip() or $peripheral->get_net_access_port()}
	<tr>
		<td class="highlight">Network connect:</td>
		<td class="post_highlight">
			{assign var="access_ip" value=$peripheral->get_net_access_ip()}
			{assign var="access_port" value=$peripheral->get_net_access_port()}
			
			{if $access_ip}{$access_ip}
			{else}<font class="light_text">--</font>
			{/if}
			:
			{if $access_port}{$access_port}
			{else}<font class="light_text">--</font>
			{/if}
			
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="/?cl=kawacs&amp;op=peripheral_plink&amp;id={$peripheral->id}">Plink &#0187;</a>
		</td>
	</tr>
	{/if}
	
	<tr>
		<td class="highlight">Location:</td>
		<td class="post_highlight">
			{if $peripheral->location}
				<a href="/?cl=customer&amp;op=location_edit&amp;id={$peripheral->location->id}&amp;returl={$ret_url}">
				{foreach from=$peripheral->location->parents item=parent}
					{$parent->name} &#0187;
				{/foreach}
				{$peripheral->location->name|escape}</a>
			{else}
				<font class="light_text">--</font>
			{/if}
		</td>
	</tr>
	
	<tr>
		<td class="highlight">Managing since:</td>
		<td class="post_highlight">
			{if $peripheral->date_created}{$peripheral->date_created|date_format:$smarty.const.DATE_FORMAT_SMARTY}
			{else}--{/if}
		</td>
	</tr>
	<tr>
		<td class="highlight">Removal date:</td>
		<td class="post_highlight">
			{if $peripheral->date_removed}{$peripheral->date_removed|date_format:$smarty.const.DATE_FORMAT_SMARTY}
			{else}--{/if}
		</td>
	</tr>
	<tr>
		<td class="highlight">Removal reason:</td>
		<td class="post_highlight">
			{if $peripheral->reason_removed}{$peripheral->reason_removed|escape|nl2br}
			{else}--{/if}
		</td>
	</tr>
</table>

</td><td>
<table class="list" width="100%">
		<thead>
			<tr>
				<td width="120">SNMP&nbsp;Monitoring</td>
				<td align="right" nowrap="nowrap"> </td>
			</tr>
		</thead>
		
		{if $peripheral_class->can_snmp_monitor()}
		<tr>
			<td class="highlight">SNMP enabled:</td>
			<td class="post_highlight">{if $peripheral->snmp_enabled}Yes{else}No{/if}</td>
		</tr>
		<tr>
			<td class="highlight">Monitor profile:</td>
			<td class="post_highlight">
				{if $peripheral->profile_id}
					<a href="/?cl=kawacs&amp;op=monitor_profile_periph_edit&amp;id={$profile->id}">{$profile->name|escape}</a>
				{else}<font class="light_text">--</font>
				{/if}
			</td>
		</tr>
		<tr>
			<td class="highlight">Monitoring computer:</td>
			<td class="post_highlight">
				{if $peripheral->snmp_computer_id}
					{assign var="snmp_computer_id" value=$peripheral->snmp_computer_id}
					<a href="/?cl=kawacs&amp;op=computer_view&amp;id={$snmp_computer_id}"
					>#{$snmp_computer_id}: {$computers_list.$snmp_computer_id}</a>
				{else}<font class="light_text">--</font>
				{/if}
			</td>
		</tr>
		<tr>
			<td class="highlight">SNMP IP:</td>
			<td class="post_highlight">
				{if $peripheral->snmp_ip}{$peripheral->snmp_ip}
				{else}--
				{/if}
			</td>
		</tr>
		<tr>
			<td class="highlight">Last SNMP contact:</td>
			<td class="post_highlight">
				{if $peripheral->last_contact}{$peripheral->last_contact|date_format:$smarty.const.DATE_TIME_FORMAT_SMARTY}
				{else}--
				{/if}
			</td>
		</tr>
		{else}
		<tr>
			<td colspan="2" class="light_text">[SNMP monitoring not available for this peripheral class]</td>
		</tr>
		{/if}
</table>
</td></tr></table>
<p/>
	
<table width="98%" class="list">	
	<tr class="head">
		<td colspan="4">Peripheral data</td>
	</tr>
	
	{assign var="cols" value="2"}
	{foreach from=$peripheral->class_def->field_defs key=idx item=field_def name=peripheral_fields}
		{assign var="field_id" value=$field_def->id}
		{if ($smarty.foreach.peripheral_fields.index % $cols) == 0}<tr>{/if}
		<td class="highlight" width="15%">
			{$field_def->name}:
			{if $peripheral->is_snmp_field($field_id) and $peripheral->fields_last_updated.$field_id}
				<br/>
				{$peripheral->fields_last_updated.$field_id|date_format:$smarty.const.DATE_TIME_FORMAT_SMARTY}
			{/if}
		</td>
		<td class="post_highlight" width="35%">
			{if $peripheral->is_snmp_field($field_id)}
				{if count($peripheral->values_snmp.$field_id)>1}
					<ol style="margin-top:0px; margin-bottom: 0px;">
					{foreach from=$peripheral->values_snmp.$field_id item=val}
					<li>{$val}</li>
					{/foreach}
					</ol>
				{elseif count($peripheral->values_snmp.$field_id)==1}
					{if $peripheral->values_snmp.$field_id.0}{$peripheral->values_snmp.$field_id.0}
					{else}--{/if}
				{else}--
				{/if}
			{else}
				
				{if $field_def->type == $smarty.const.MONITOR_TYPE_TEXT}
					{if $peripheral->values.$idx}{$peripheral->values.$idx|escape|nl2br}
					{else}--{/if}
				{elseif $field_def->type == $smarty.const.MONITOR_TYPE_DATE}
					{if $peripheral->values.$idx}{$peripheral->values.$idx|date_format:$smarty.const.DATE_FORMAT_SMARTY}
					{else}--{/if}
				{elseif $field_def->type == $smarty.const.MONITOR_TYPE_MEMORY}
					{if $peripheral->values.$idx}{$peripheral->values.$idx|get_memory_string}
					{else}--{/if}
				{else}
					{if $field_id == $peripheral->class_def->warranty_service_package_field}
						{if $peripheral->values.$idx}
							{assign var="periph_val" value=$peripheral->values.$idx}
							{$service_packages_list.$periph_val}
						{else}--{/if}
					{elseif $field_id == $peripheral->class_def->warranty_service_level_field}
						{if $peripheral->values.$idx}
							{assign var="periph_val" value=$peripheral->values.$idx}
							{$service_levels_list.$periph_val}
						{else}--{/if}
					{else}
						{if $peripheral->values.$idx}{$peripheral->values.$idx|escape}
						{else}--{/if}
					{/if}
				{/if}
			{/if}
		</td>
		{if ($smarty.foreach.peripheral_fields.index % $cols) == 1}</tr>{/if}
	{/foreach}
	{if ($smarty.foreach.peripheral_fields.index % $cols) == 0}<td></td><td></td></tr>{/if}
</table>
<p/>

<a href="/?cl=kawacs_removed&amp;op=manage_peripherals">&#0171; Back to removed peripherals</a>